.get-help-overlay
{
    position: fixed;
    z-index: 4;

    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    background-color: rgba(0,0,0,0.7);
    pointer-events: none;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 40px;

    transition: opacity .3s;
}

.get-help-overlay.showed
{
    opacity: 1;
    pointer-events: all;
}

.get-help-content
{
    background-color: #fff;
    border-radius: 23px;

    padding: 21px 75px 31px 23px;

    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 600px)
{
    .get-help-content
    {
        padding: 24px 34px 42px 23px;
    }
}

#close-get-help
{
    background-color: var(--main-blue-color);
    position: absolute;
    right: 0;
    top: 0;

    border-radius: 0 0 0 23px;

    min-width: calc(29px + 52px);
    min-height: calc(29px + 24px);
}
@media screen and (max-width: 600px)
{
    #close-get-help
    {
        min-width: calc(17px + 40px);
        min-height: calc(17px + 25px);
    }
}

#close-get-help .line
{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #fff;
    height: 21px;
    width: 4px;
}

#close-get-help .line:first-child
{
    transform: translate(-50%, -50%) rotate(-45deg);
}
#close-get-help .line:last-child
{
    transform: translate(-50%, -50%) rotate(45deg);
}

.get-help-modal__title
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 105.8%;

    text-align: center;
    text-transform: uppercase;

    color: var(--main-blue-color);
}
@media screen and (max-width: 768px)
{
    .get-help-modal__title
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 600px)
{
    .get-help-modal__title
    {
        text-align: left;
        font-size: 20px;

        padding-right: 24px;
    }
}
@media screen and (max-width: 450px)
{
    .get-help-modal__title
    {
        font-size: 18px;
        padding-right: 24px;
    }
}

.get-help-modal__form
{
    margin-top: 36px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

    margin-bottom: 18px;
}
@media screen and (max-width: 980px)
{
    .get-help-modal__form
    {
        flex-flow: column nowrap;
        align-items: center;
    }
}

.get-help__inputs
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-right: 14px;
}
@media screen and (max-width: 980px)
{
    .get-help__inputs
    {
        margin-right: 0;
        margin-bottom: 20px;

        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px)
{
    .get-help__inputs
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.get-help__text-input
{
    border: 2px solid #A7A7A7;
    border-radius: 9px;

    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;

    color: #000;

    padding: 13px 9px;

    margin-right: 14px;

    transition: color .3s;
}
.get-help__inputs .get-help__text-input:last-child
{
    margin-right: 0;
}
.get-help__text-input:placeholder-shown
{
    color: #A7A7A7;
}
@media screen and (max-width: 768px)
{
    .get-help__text-input
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .get-help__inputs .get-help__text-input:last-child
    {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 600px)
{
    .get-help__text-input
    {
        padding: 11px 17px;
        font-size: 12px;
        line-height: 16px;

        border-radius: 6px;
        border: 1px solid #A7A7A7;

        font-weight: 400;
    }
}

.get-help__submit-form
{
    cursor: pointer;
    border: 2px solid var(--main-blue-color);

    background-color: var(--main-blue-color);
    border-radius: 9px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 105.8%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    padding: 14px 30px;
}
@media screen and (max-width: 980px)
{
    .get-help__submit-form
    {
        width: 100%;
        max-width: 320px;
    }
}
@media screen and (max-width: 600px)
{
    .get-help__submit-form
    {
        padding: 13px 30px;

        font-size: 11px;
    }
}

.get-help__agreement-text,
.get-help__agreement-text a
{
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;

    color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px)
{
    .get-help__agreement-text,
    .get-help__agreement-text a
    {
        font-size: 9px;
    }
}

.get-help__agreement-text a
{
    /*position: relative;*/
    text-decoration: underline;
}

/*.get-help__agreement-text a::before*/
/*{*/
/*    content: "";*/
/*    position: absolute;*/

/*    width: 100%;*/
/*    height: 1px;*/

/*    left: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(0,0,0,0.5);*/
/*}*/