.mainpage-banner
{
    height: 100vh;
    min-height: 1000px;
    background-image: url("../img/banner-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (max-width: 768px)
{
    .mainpage-banner
    {
        min-height: 800px;
    }
}
@media screen and (max-width: 600px)
{
    .mainpage-banner
    {
        min-height: 664px;
    }
}

.mainpage-banner::before
{
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(22, 45, 98, 0.69);
}

.mainpage-banner .container-1292
{
    display: flex;
    height: 100%;

    align-items: center;
    position: relative;
}
@media screen and (max-width: 768px)
{
    .mainpage-banner .container-1292
    {
        display: block;
        align-items: unset;

        padding-top: 150px;
    }
}
@media screen and (max-width: 600px)
{
    .mainpage-banner .container-1292
    {
        padding-top: 83px;
    }
}

.main-header
{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 100%;

    color: #FFFFFF;
}
@media screen and (max-width: 1024px)
{
    .main-header
    {
        font-size: 45px;
        line-height: 60px;
    }
}
@media screen and (max-width: 600px)
{
    .main-header
    {
        font-size: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 350px)
{
    .main-header
    {
        font-size: 30px;
        line-height: 30px;
    }
}

.banner-advantages
{
    margin-top: 122px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1024px)
{
    .banner-advantages
    {
        margin-top: 75px;

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 0;
    }
}
@media screen and (max-width: 600px)
{
    .banner-advantages
    {
         margin-top: 20px;

        background-color: rgba(255, 255, 255, 0.3);
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
        padding: 20px 15px 34px 25px;
    }
}

.banner-advantage__item
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
    background-color: rgba(255, 255, 255, 0.3);

    padding: 18px 25px 18px 25px;

    width: 100%;
    max-width: 326px;
}
@media screen and (max-width: 600px)
{
    .banner-advantage__item
    {
        clip-path: none;
        background-color: transparent;
        max-width: unset;

        position: relative;

        padding: 0 0 0 calc(10px + 3px)
    }

    .banner-advantage__item::before
    {
        content: "";

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 5px;
        height: 5px;

        border-radius: 50%;
        background-color: #fff;
    }
}

.banner-advantage__item__icon
{
    margin-right: 20px;

    width: 67px;
}
@media screen and (max-width: 1200px)
{
    .banner-advantage__item__icon
    {
        width: 45px;
    }
}
@media screen and (max-width: 600px)
{
    .banner-advantage__item__icon
    {
        display: none;
    }
}

.banner-advantage__item__text
{
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.19%;

    letter-spacing: 0.015em;

    color: #FFFFFF;
}
@media screen and (max-width: 1200px)
{
    .banner-advantage__item__text
    {
        font-size: 19px;
        line-height: 23px;

        font-weight: 500;

        letter-spacing: 0.05em;
    }
}
@media screen and (max-width: 1024px)
{
    .banner-advantage__item__text
    {
        max-width: 180px;
    }
}
@media screen and (max-width: 600px)
{
    .banner-advantage__item__text
    {
        max-width: unset;
    }
}

.banner-get-help
{
    position: absolute;

    bottom: 97px;

    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 768px)
{
    .banner-get-help
    {
        bottom: 50px;
    }
}
@media screen and (max-width: 450px)
{
    .banner-get-help
    {
        max-width: calc(100% - 80px);
    }
}
@media screen and (min-width: 769px)
{
    .banner-get-help:hover
    {
        transform: translateX(-50%) scale(1.1);
    }

    .banner-get-help:focus-visible
    {
        transform: translateX(-50%) scale(1.1);
    }
}

/* --------------- */
.know-your-decision
{
    padding: 55px 0 94px;
    background-color: #E5E5E5;
}
@media screen and (max-width: 600px)
{
    .know-your-decision
    {
        padding: 42px 0;
    }
}

.know-your-decision .container-1292
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1024px)
{
    .know-your-decision .container-1292
    {
        justify-content: center;
    }
}


.know-your-decision .decision-text
{
    max-width: 830px;

    margin-bottom: 30px;
}

.know-your-decision .section-title
{
    letter-spacing: 0.015em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px)
{
    .know-your-decision .section-title
    {
        text-transform: none;
    }
}

.decision-text__description
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 165.69%;

    letter-spacing: 0.015em;

    color: #000000;

    margin-top: 50px;
}
@media screen and (max-width: 768px)
{
    .decision-text__description
    {
        font-size: 18px;
        margin-top: 35px;
    }
}
@media screen and (max-width: 600px)
{
    .decision-text__description
    {
        font-size: 14px;
        margin-top: 20px;
    }
}

/* -------------------------- */
.call-now
{
    background-color: var(--dark-blue);
    padding: 63px 0 127px;
}
@media screen and (max-width: 600px)
{
    .call-now
    {
        padding: 36px 0 60px;
    }
}

.call-now .section-title
{
    color: #fff;
}

.attention-block
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 41px;
}
@media screen and (max-width: 1024px)
{
    .attention-block
    {
        flex-flow: column nowrap;
    }
}

.red-alert-image-wrapper
{
    flex-shrink: 2;

    position: relative;
    width: 100%;
    max-width: 482px;

    margin-right: 40px;
}
@media screen and (max-width: 1024px)
{
    .red-alert-image-wrapper
    {
        order: 2;

        margin-top: 30px;
        margin-right: 0;

        max-width: 300px;
    }
}
@media screen and (max-width: 600px)
{
    .red-alert-image-wrapper
    {
        display: none;
    }
}

.red-alert-image
{
    width: 100%;
    position: relative;
    z-index: 2;

    user-select: none;
}

.red-alert-image.blured
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    z-index: 1;
    filter: blur(50px);
}

.bad-reasons
{
    flex-shrink: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.bad-reason__item
{
    position: relative;

    margin-bottom: 46px;

    background-color: #fff;

    border-radius: 10px;
    overflow: hidden;

    padding: 33px 27px 33px calc(45px + 21px);

    width: 100%;
    max-width: 581px;
}
.bad-reason__item:last-child
{
    margin-bottom: 0;
}
@media screen and (max-width: 768px)
{
    .bad-reason__item
    {
        margin-bottom: 40px;
        padding: 20px 20px 25px calc(25px + 15px);
    }
}
@media screen and (max-width: 400px)
{
    .bad-reason__item
    {
        padding: 12px 14px 17px calc(23px + 10px);
    }
}

.bad-reason__item::before
{
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;

    background-color: var(--main-red-color);
    box-shadow: 0 4px 20px var(--main-red-color);
}
@media screen and (max-width: 768px)
{
    .bad-reason__item::before
    {
        width: 15px;
    }
}
@media screen and (max-width: 400px)
{
    .bad-reason__item::before
    {
        width: 10px;
    }
}

.bad-reason__item__text
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;

    letter-spacing: -0.02em;

    color: var(--dark-blue);
}
@media screen and (max-width: 1024px)
{
    .bad-reason__item__text
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px)
{
    .bad-reason__item__text
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px)
{
    .bad-reason__item__text
    {
        font-size: 15px;
    }
}

/* ------------------- */
.water-right-now
{
    background-color: #fff;
    padding: 111px 0 93px;
}
@media screen and (max-width: 768px)
{
    .water-right-now
    {
        padding: 50px 0 0;
    }
}

.water-right-now .section-title
{
    color: #000;

    margin-bottom: 94px;
}
@media screen and (max-width: 768px)
{
    .water-right-now .section-title
    {
        margin-bottom: 45px;
    }
}

.water-right-now__list
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 101px 23px;
    align-items: flex-start;
    justify-content: stretch;
}
@media screen and (max-width: 1390px)
{
    .water-right-now__list
    {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px 40px;
    }
}
@media screen and (max-width: 768px)
{
    .water-right-now__list
    {
        grid-template-columns: 1fr;
        grid-gap: 40px;
        justify-items: start;
        align-items: center;
    }
}
@media screen and (max-width: 600px)
{
    .water-right-now__list
    {
        grid-gap: 20px;
    }
}

.water-right-now__list__list-item
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 1390px)
{
    .water-right-now__list__list-item
    {
        align-items: flex-start;
    }
}
@media screen and (max-width: 600px)
{
    .water-right-now__list__list-item
    {
        align-items: center;
    }
}

.list-item__point-number
{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 2px solid var(--main-red-color);

    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.13);

    padding: 35px 30px;

    color: var(--main-red-color);
    font-family: "Paytone One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 51px;
    line-height: 51px;

    letter-spacing: 0.015em;

    margin-right: 26px;
}
@media screen and (max-width: 1505px)
{
    .list-item__point-number
    {
        font-size: 35px;
        line-height: normal;

        padding: 21px 25px;
    }
}
@media screen and (max-width: 600px)
{
    .list-item__point-number
    {
        padding: 9px 16px 14px;
        font-size: 28px;
    }
}

.list-item__description
{
    max-width: 255px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140.19%;

    letter-spacing: 0.015em;

    color: #000000;
}
@media screen and (max-width: 1390px)
{
    .list-item__description
    {
        max-width: 320px;
    }
}
@media screen and (max-width: 768px)
{
    .list-item__description
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 600px)
{
    .list-item__description
    {
        font-size: 14px;
    }
}

.immediate-help
{
    margin: 110px auto 0;

    /*font-size: 20px;*/
    /*line-height: 126.69%;*/
    text-align: center;

    padding: 15px 58px;
    max-width: 406px;
}
@media screen and (max-width: 768px)
{
    .immediate-help
    {
        margin: 60px auto 0;
    }
}
@media screen and (max-width: 600px)
{
    .immediate-help
    {
        margin: 30px auto 0;
    }
}

/*------------------------*/
.background-collection
{
    position: relative;

    background-image: url("../img/bg-lines.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 58px 0 122px;
}
.background-collection::before
{
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: var(--deep-white-color);
}
@media screen and (max-width: 768px)
{
    .background-collection
    {
        padding: 57px 0 calc(44px + 10px);
    }
}
@media screen and (max-width: 600px)
{
    .background-collection
    {
        background-image: none;
        padding-bottom: 0;
    }
    .background-collection::before
    {
        display: none;
    }
}

.pricing
{
    margin-bottom: 197px;
}
@media screen and (max-width: 1024px)
{
    .pricing
    {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 768px) {
    .pricing
    {
        margin-bottom: 71px;
    }
}

.pricing .section-title
{
    text-align: center;

    color: var(--main-blue-color);
}

.pricing-services-wrapper
{
    margin-top: 71px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
@media screen and (max-width: 1024px) {
    .pricing-services-wrapper
    {
        display: none;
    }
}

.service-item
{
    margin-right: 15px;
    padding: 49px 25px calc(46px + 38px) 34px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    background: var(--deep-white-color);
    border: 2px solid var(--main-blue-color);
    border-radius: 23px;

    position: relative;
}

.service-title
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 126.69%;

    text-align: center;
    text-transform: uppercase;

    color: var(--main-blue-color);

    max-width: 280px;

    margin-bottom: 48px;
}

.service-contains
{
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 23px 0;
    justify-content: flex-start;
    align-items: flex-start;
}

.service-contains li
{
    display: block;
    position: relative;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 126.69%;

    padding-left: calc(21px + 14px);

    color: #000000;
    max-width: 347px;
}

.service-contains li::before
{
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    background-image: url("../img/icons/green-apply.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.service-price
{
    position: absolute;
    left: 0;
    bottom: 38px;

    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
    line-height: 126.69%;

    text-align: center;
    text-transform: uppercase;

    color: var(--main-blue-color);
}

/* Mobil price slider */
.mobile-pricing
{
    margin-top: 43px;
    display: none;

    overflow-x: hidden;
}
@media screen and (max-width: 1024px)
{
    .mobile-pricing
    {
        display: block;
    }
}

.pricing-mobile-slider
{
    overflow-x: visible !important;
    overflow-y: visible !important;

    max-width: calc(100% - 80px);

    margin: 0 auto;
}

.pricing-mobile-slider .service-item
{
    margin-right: 0;
    height: auto;

    padding: 23px 21px calc(23px + 15px + 45px) 21px;
}

.pricing-mobile-slider .service-item:last-child
{
    margin-right: 0 !important;
}

.pricing-mobile-slider .service-item .service-title
{
    width: 100%;
    text-align: center;
    max-width: unset;
}
@media screen and (max-width: 650px)
{
    .pricing-mobile-slider .service-item .service-title
    {
        font-size: 14px;
    }
}

.pricing-mobile-slider .service-contains
{
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 23px;
}
@media screen and (max-width: 650px)
{
    .pricing-mobile-slider .service-contains
    {
        grid-template-columns: 1fr;
        grid-gap: 16px 0;
    }
}

.pricing-mobile-slider .service-contains li
{
    max-width: 100%;
}
@media screen and (max-width: 600px)
{
    .pricing-mobile-slider .service-contains li
    {
        font-size: 13px;
        padding-left: calc(15px + 18px);
    }
    .pricing-mobile-slider .service-contains li::before
    {
        width: 15px;
        height: 11px;
    }
}

.pricing-mobile-slider .service-price
{
    bottom: 15px;
}
@media screen and (max-width: 600px)
{
    .pricing-mobile-slider .service-price
    {
        font-size: 25px;
    }
}

.mobile-pricing-navigation
{
    position: relative;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 41px;
}

.mobile-pricing-navigation .swiper-button-next__pricing,
.mobile-pricing-navigation .swiper-button-prev__pricing
{
    left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    bottom: 0;
    position: relative;

    display: block;

    color: unset;
    z-index: 1;

    width: 46px;
    height: 46px;

    background-color: var(--main-blue-color);
    border-radius: 50%;

    transition: opacity .4s;
}
.mobile-pricing-navigation .swiper-button-next__pricing::after,
.mobile-pricing-navigation .swiper-button-prev__pricing::after
{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 13px;
    height: 23px;

    background-image: url("../img/icons/slider-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mobile-pricing-navigation .swiper-button-next__pricing
{
    transform: rotate(180deg);
}
/* end mobile slider ---------------- */

/* ---------------------- */
.payment-methods
{
    position: relative;
    z-index: 2;
}

.payment-methods .section-title
{
    text-align: center;
    color: var(--main-blue-color);

    margin-bottom: 148px;
}
@media screen and (max-width: 1024px) {
    .payment-methods .section-title
    {
        margin-bottom: calc(84px - 37px);
    }
}

.payments-list
{
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.mobile-payment
{
    overflow-x: hidden;
}

.mobile-payments-slider
{
    display: none;
}

@media screen and (max-width: 1024px)
{
    .payments-list
    {
        display: none;
    }
    .mobile-payments-slider
    {
        display: block;
    }
}

.mobile-payments-slider
{
    max-width: calc(100% - 80px);
    margin: 0 auto;

    overflow-x: visible !important;
    overflow-y: visible !important;
}

.mobile-payments-slider .swiper-wrapper
{
    padding: 37px 0 20px;
}

.payment-method
{
    position: relative;
    background-color: #fff;
    border-radius: 9px;
    padding: 36px 30px 85px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.payment-method.optimal
{
    min-height: 110%;
    max-width: 483px;

    margin-right: 20px;
}
@media screen and (max-width: 768px)
{
    .payment-method.optimal
    {
        max-width: unset;
        margin-right: 0;
    }
}

.blue-backdrop
{
    position: absolute;
    top: -37px;
    right: -16px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    background-color: var(--main-blue-color);
    padding-top: 8px;
}
.blue-backdrop span
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 126.69%;

    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;

    width: 100%;
    display: block;

    position: relative;
    z-index: 3;
}

.payment-method__title
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 126.69%;

    letter-spacing: 0.015em;

    text-align: center;
    color: #000000;
}
@media screen and (max-width: 1220px)
{
    .payment-method__title
    {
        font-size: 20px;
    }
}

.payment-method__price
{
    margin-top: 27px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 126.69%;

    text-align: center;

    color: #000000;
}
@media screen and (max-width: 1220px)
{
    .payment-method__price
    {
        font-size: 30px;

        margin-top: 15px;
    }
}

.payment-method__desc
{
    margin-top: 27px;

    font-family: "PT Sans Caption", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: #000000;

    max-width: 355px;
}
@media screen and (max-width: 1220px)
{
    .payment-method__desc
    {
        margin-top: 15px;
        font-size: 16px;
    }
}

.payment-method__get-help-button
{
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);


    width: 100%;
    max-width: 263px;

    padding: 21px 0;
    background-color: var(--main-blue-color);
    border-radius: 14px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 126.69%;

    text-align: center;

    color: #FFFFFF;

    border: 2px solid transparent;

    transition: background-color .4s, border-color .4s, color .3s;
}

@media screen and (min-width: 769px)
{
    .payment-method__get-help-button:hover
    {
        background-color: #fff;
        border-color: var(--main-blue-color);
        color: var(--main-blue-color);
    }
    .payment-method__get-help-button:focus-visible
    {
        background-color: #fff;
        border-color: var(--main-blue-color);
        color: var(--main-blue-color);
    }
}

.mobile-payments-navigation
{
    position: relative;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 41px;
}

.mobile-payments-navigation .swiper-button-next__payments,
.mobile-payments-navigation .swiper-button-prev__payments
{
    left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    bottom: 0;
    position: relative;

    display: block;

    color: unset;
    z-index: 1;

    width: 46px;
    height: 46px;

    background-color: var(--main-blue-color);
    border-radius: 50%;

    transition: opacity .4s;
}
.mobile-payments-navigation .swiper-button-next__payments::after,
.mobile-payments-navigation .swiper-button-prev__payments::after
{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 13px;
    height: 23px;

    background-image: url("../img/icons/slider-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.mobile-payments-navigation .swiper-button-next__payments
{
    transform: rotate(180deg);
}
/* ------------------------------- */
.cases
{
    margin-top: 103px;
    padding: 0 0 96px;
}
@media screen and (max-width: 768px)
{
    .cases
    {
        margin-top: 40px;
        padding: 0 0 40px;
    }
}

.cases-section-title
{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /*margin-bottom: 35px;*/
}

.cases-section-title .section-title
{
    max-width: 850px;
    margin-right: 60px;
}
@media screen and (max-width: 768px)
{
    .cases-section-title .section-title
    {
        margin-right: 0;
    }
}

.cases-swiper-desktop-pagination
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 55px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px)
{
    .cases-swiper-desktop-pagination
    {
        display: none;
    }
}

.cases-swiper-desktop-pagination .swiper-button-prev__desktop-cases,
.cases-swiper-desktop-pagination .swiper-button-next__desktop-cases
{
    width: unset;
    height: unset;
    margin-top: unset;
    color: unset;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: static;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    padding: 12px 17px;

    background-color: var(--main-blue-color);
    border-radius: 50%;
}

.cases-swiper-desktop-pagination .swiper-button-next__desktop-cases
{
    transform: rotate(180deg);
}

.cases-swiper-desktop-pagination .swiper-button-next__desktop-cases::after,
.cases-swiper-desktop-pagination .swiper-button-next__desktop-cases::after
{
    display: none;
}

.cases-slider-wrapper
{
    overflow-x: hidden;

    max-width: calc(1292px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}
@media screen and (max-width: 768px)
{
    .cases-slider-wrapper
    {
        max-width: 100%;
        padding: 0;
    }
}

.cases-slider-wrapper .swiper
{
    padding-top: 35px;

    max-width: 100%;
    margin: 0 auto;

    overflow-x: visible !important;
    overflow-y: visible !important;
}
@media screen and (max-width: 768px)
{
    .cases-slider-wrapper .swiper
    {
        max-width: calc(100% - 80px);
    }
}

.cases-slider-wrapper .swiper-wrapper
{
    padding-bottom: 50px;
}

.cases-swiper-mobile-pagination
{
    position: relative;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 23px;
}
@media screen and (min-width: 769px)
{
    .cases-swiper-mobile-pagination
    {
        display: none;
    }
}

.cases-slider-wrapper .swiper-button-next__mobile,
.cases-slider-wrapper .swiper-button-prev__mobile
{
    left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    bottom: 0;
    position: relative;

    display: block;

    color: unset;
    z-index: 1;

    width: 46px;
    height: 46px;

    background-color: var(--main-blue-color);
    border-radius: 50%;

    transition: opacity .4s;
}
.cases-slider-wrapper .swiper-button-next__mobile::after,
.cases-slider-wrapper .swiper-button-prev__mobile::after
{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 13px;
    height: 23px;

    background-image: url("../img/icons/slider-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cases-slider-wrapper .swiper-button-next__mobile
{
    transform: rotate(180deg);
}

.case-item
{
    position: relative;

    background-color: #fff;
    box-shadow: 0 4px 47px rgba(0, 0, 0, 0.17);
    padding-bottom: 28px;
}

.case-number
{
    position: absolute;
    left: 0;
    top: 31px;

    padding: 9px 31px 9px 16px;

    background-color: var(--main-blue-color);

    transition: top .3s, background-color .3s;
}
@media screen and (min-width: 769px)
{
    .case-item:hover .case-number
    {
        background-color: var(--main-red-color);
    }
    .case-item:focus-visible .case-number
    {
        background-color: var(--main-red-color);
    }
}

.case-number__text
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 126.69%;

    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.case-preview-image
{
    width: 100%;
    height: 225px;
    overflow: hidden;

    transition: height .6s;
}
@media screen and (max-width: 700px)
{
    .case-preview-image
    {
        height: 270px;
    }
}

.case-preview-image img
{
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.case-padding-wrapper
{
    padding: 0 28px 0 19px;
}

.case-item__pricing-table
{
    margin-top: 31px;

    transition:  margin-top .3s;
}

.case-item__table-row
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 16px;
}
.case-item__pricing-table .case-item__table-row:last-child
{
    margin-bottom: 0;
}

.case-item__table-row__title
{
    text-align: left;
    width: 100%;
    max-width: 220px;
    margin-right: 15px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 126.69%;

    letter-spacing: 0.01em;

    color: #000000;
}

.case-item__table-row__value
{
    width: 100%;
    max-width: 105px;
    text-align: right;

    white-space: nowrap;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 126.69%;

    letter-spacing: 0.01em;

    color: #000000;
}
@media screen and (max-width: 600px)
{
    .case-item__table-row__title,
    .case-item__table-row__value
    {
        font-size: 14px;
    }
}
@media screen and (max-width: 450px)
{
    .case-item__table-row__title,
    .case-item__table-row__value
    {
        font-size: 12px;
    }
}

.total-price
{
    margin-top: 57px;

    transition: margin-top .6s ease;
}
@media screen and (min-width: 769px)
{
    .case-item:hover .total-price
    {
        margin-top: 75px;
    }
    .case-item:focus-visible .total-price
    {
        margin-top: 75px;
    }
}
@media screen and (max-width: 600px)
{
    .total-price
    {
        margin-top: 40px;
    }
}

.total-price__title
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 126.69%;

    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;

    margin-bottom: 8px;
}
@media screen and (max-width: 600px)
{
    .total-price__title {
        font-size: 15px;
    }
}

.total-price__value
{
    white-space: nowrap;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 126.69%;

    text-align: right;
    letter-spacing: 0.01em;

    color: var(--main-blue-color);

    transition: color .3s;
}
@media screen and (min-width: 769px)
{
    .case-item:hover .total-price__value
    {
        color: var(--main-red-color);
    }
    .case-item:focus-visible .total-price__value
    {
        color: var(--main-red-color);
    }
}
@media screen and (max-width: 768px)
{
    .total-price__value {
        font-size: 36px;
    }
}
@media screen and (max-width: 600px)
{
    .total-price__value {
        font-size: 30px;
    }
}

.total-price__comment
{
    margin-top: 37px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 126.69%;

    text-align: center;
    letter-spacing: 0.01em;
}
@media screen and (max-width: 600px)
{
    .total-price__comment
    {
        margin-top: 25px;

        font-size: 14px;
    }
}

.more-about-case
{
    position: relative;

    margin: 54px auto 0;
    background-color: transparent;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 126.69%;

    color: #000000;
}
@media screen and (max-width: 600px)
{
    .more-about-case
    {
        margin-top: 36px;
    }
}

.more-about-case svg
{
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
}

.more-about-case svg path
{
    fill: black;

    transition: fill .3s;
}

.more-about-case span
{
    transition: color .3s;
}
@media screen and (min-width: 769px)
{
    .more-about-case:hover span
    {
        color: var(--main-red-color);
    }
    .more-about-case:focus-visible span
    {
        color: var(--main-red-color);
    }

    .more-about-case:hover svg path
    {
        fill: var(--main-red-color);
    }
    .more-about-case:focus-visible svg path
    {
        fill: var(--main-red-color);
    }
}

/* -------------------------- */
.faq
{
    background-color: var(--main-blue-color);

    padding: 104px 0 150px;
}
@media screen and (max-width: 768px)
{
    .faq
    {
        padding: 36px 0 29px;
    }
}

.faq .section-title
{
    color: #fff;

    margin-bottom: 88px;
}
@media screen and (max-width: 768px)
{
    .faq .section-title
    {
        margin-bottom: 55px;
    }
}
@media screen and (max-width: 600px)
{
    .faq .section-title
    {
        margin-bottom: 37px;
    }
}

.faq-table
{
    border-top: 1px solid #fff;
}
@media screen and (max-width: 768px)
{
    .faq-table
    {
        border-top: none;
    }
}

.faq-item
{
    padding: 28px 21px 0 8px;

    border-bottom: 1px solid #fff;

    transition: padding-bottom .4s;
}
@media screen and (max-width: 768px)
{
    .faq-item
    {
        border-bottom: none;
        padding: 0;

        margin-bottom: 37px ;
    }

    .faq-table .faq-item:last-child
    {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 769px)
{
    .faq-item.opened
    {
        padding-bottom: 27px;
    }
}

.faq-item__title-wrapper
{
    cursor: pointer;

    margin-bottom: 34px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
@media screen and (max-width: 768px)
{
    .faq-item__title-wrapper
    {
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        transition: margin-bottom .4s;
    }

    .faq-item.opened .faq-item__title-wrapper
    {
        margin-bottom: 25px;
    }
}

.faq-item__title
{
    max-width: 909px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 126.69%;

    color: #FFFFFF;
}
@media screen and (max-width: 768px)
{
    .faq-item__title
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 600px)
{
    .faq-item__title
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 450px)
{
    .faq-item__title
    {
        font-size: 14px;
    }
}

.faq-item__title-wrapper .open-faq
{
    background-color: transparent;

    margin-left: 40px;

    min-width: 37px;
    min-height: 37px;
    position: relative;

    transition: background-color .5s, border-radius .5s, min-width .5s, min-height .5s, transform .4s;
}
@media screen and (min-width: 769px)
{
    .faq-item__title-wrapper:hover .open-faq
    {
        min-width: 50px;
        min-height: 50px;

        background-color: #fff;
        border-radius: 50%;
    }
    .open-faq:focus-visible
    {
        min-width: 50px;
        min-height: 50px;

        background-color: #fff;
        border-radius: 50%;
    }
}
@media screen and (max-width: 768px)
{
    .faq-item__title-wrapper .open-faq
    {
        order: -1;
        margin-right: 28px;
        margin-left: 0;
    }
}

@media screen and (min-width: 769px)
{
    .faq-item.opened .open-faq
    {
        transform: rotate(45deg);

        min-width: 50px;
        min-height: 50px;

        background-color: #fff;
        border-radius: 50%;
    }
}
@media screen and (max-width: 768px)
{
    .faq-item .open-faq
    {
        transition: transform .5s;
    }

    .faq-item.opened .open-faq
    {
        transform: rotate(90deg);
    }
}

.faq-item__title-wrapper .open-faq .line
{
    display: block;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);

    transition: background-color .3s;
}
@media screen and (min-width: 769px)
{
    .faq-item__title-wrapper:hover .open-faq .line
    {
        background-color: var(--main-blue-color);
    }
    .open-faq:focus-visible .line
    {
        background-color: var(--main-blue-color);
    }
}
@media screen and (max-width: 768px)
{
    .faq-item__title-wrapper .open-faq .line
    {
        border-radius: 3px;
    }
}

@media screen and (min-width: 769px)
{
    .faq-item.opened .open-faq .line
    {
        background-color: var(--main-blue-color);
    }
}

/* vertical */
.faq-item__title-wrapper .open-faq .line:first-child
{
    width: 4px;
    height: 100%;

    transition: height .3s;
}
@media screen and (min-width: 769px)
{
    .faq-item__title-wrapper:hover .open-faq .line:first-child
    {
        height: 27px;
    }
    .open-faq:focus-visible .line:first-child
    {
        height: 27px;
    }
}
@media screen and (max-width: 768px)
{
    .faq-item__title-wrapper .open-faq .line:first-child
    {
        width: 6px;
    }
}

@media screen and (min-width: 769px)
{
    .faq-item.opened .faq-item__title-wrapper .open-faq .line:first-child
    {
        height: 27px;
    }
}

/* horizontal */
.faq-item__title-wrapper .open-faq .line:last-child
{
    width: 100%;
    height: 4px;

    transition: width .3s;
}
@media screen and (min-width: 769px)
{
    .faq-item__title-wrapper:hover .open-faq .line:last-child
    {
        width: 27px;
    }
    .open-faq:focus-visible .line:last-child
    {
        width: 27px;
    }
}
@media screen and (max-width: 768px)
{
    .faq-item__title-wrapper .open-faq .line:last-child
    {
        height: 6px;
        opacity: 1;
        transition: opacity .4s;
    }

    .faq-item.opened .faq-item__title-wrapper .open-faq .line:last-child
    {
        opacity: 0;
    }
}
@media screen and (min-width: 769px)
{
    .faq-item.opened .faq-item__title-wrapper .open-faq .line:last-child
    {
        width: 27px;
    }
}

.faq-item__answer-wrapper
{
    overflow: hidden;
    height: 0;

    transition: height .6s;
}

.faq-item__answer
{
    font-family: "Roboto", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 126.69%;

    color: #FFFFFF;
}
@media screen and (max-width: 768px)
{
    .faq-item__answer
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 450px)
{
    .faq-item__answer
    {
        font-size: 16px;
        line-height: 25px;
    }
}

.faq-item__answer ul
{
    margin: 20px 0;
}

.faq-item__answer ul li
{
    display: block;

    margin-left: 10px;
    margin-bottom: 15px;
}
.faq-item__answer ul li:last-child
{
    margin-bottom: 0;
}

.faq-item__answer a
{
    position: relative;
    color: #fff;
    text-decoration: underline;
}

/* ----------------- */
.contacts-and-map
{
    position: relative;
    height: 87vh;
    min-height: 720px;
}
@media screen and (max-width: 650px)
{
    .contacts-and-map
    {
        height: unset;
        min-height: unset;
    }
}

.map-wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.map-wrapper-mobile
{
    display: none;
}
@media screen and (max-width: 650px)
{
    .map-wrapper
    {
        display: none;
        position: relative;

        max-height: 400px;
        overflow-y: hidden;
    }

    .map-wrapper-mobile
    {
        display: block;
        width: 100%;
        max-height: 400px;
        overflow-y: hidden;
    }
}

.contacts
{
    padding: 72px 122px 66px 90px;
    background-color: var(--main-blue-color);
    position: absolute;
    top: 119px;
    left: 125px;
}
@media screen and (max-width: 1320px)
{
    .contacts
    {
        padding: 45px 60px;
    }
}
@media screen and (max-width: 1200px)
{
    .contacts
    {
        top: 119px;
        left: 55px;
        padding: 40px;
    }
}
@media screen and (max-width: 1024px)
{
    .contacts
    {
        max-width: 400px;
    }
}
@media screen and (max-width: 768px)
{
    .contacts
    {
        max-width: 300px;
    }
}
@media screen and (max-width: 650px)
{
    .contacts
    {
        position: static;
        max-width: unset;

        padding-bottom: 0;
    }
}

.contacts .contacts-title
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 140.19%;

    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 40px;
}
@media screen and (max-width: 1024px)
{
    .contacts .contacts-title
    {
        font-size: 28px;
    }
}
@media screen and (max-width: 768px)
{
    .contacts .contacts-title
    {
        font-size: 23px;
    }
}

.contacts__address
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 165.69%;

    letter-spacing: 0.015em;

    color: #FFFFFF;

    max-width: 435px;

    margin-bottom: 11px;
}
@media screen and (max-width: 1024px)
{
    .contacts__address
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px)
{
    .contacts__address
    {
        font-size: 15px;
    }
}

.contacts__time
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 165.69%;

    letter-spacing: 0.015em;

    color: #FFFFFF;

    margin-bottom: 11px;
}
@media screen and (max-width: 1024px)
{
    .contacts__time
    {
        font-size: 16px;
    }
}

.contacts__time strong
{
    font-weight: 500;
}

.contacts__telephones a
{
    display: block;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 165.69%;

    letter-spacing: 0.015em;

    color: #FFFFFF;
}
@media screen and (max-width: 1024px)
{
    .contacts__telephones a
    {
        font-size: 18px;
    }
}

.contacts a[href^="mailto:"]
{
    margin-top: 21px;

    display: block;
    max-width: max-content;

    padding: 0 17px;

    background-color: #fff;
    color: var(--main-blue-color);

    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 21px;
    line-height: 165.69%;

    letter-spacing: 0.015em;

    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
}
@media screen and (max-width: 1024px)
{
    .contacts a[href^="mailto:"]
    {
        font-size: 18px;
    }
}

.contacts__social
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 240px;
    margin: 35px auto 0;
}

.contacts__social a
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 17px;

    background-color: var(--light-blue);

    border-radius: 50%;
}
@media screen and (max-width: 768px)
{
    .contacts__social a
    {
        padding: 13px;
    }
}

.contacts__social a img
{
    width: 29px;
    height: 29px;
}
@media screen and (max-width: 768px)
{
    .contacts__social a img
    {
        width: 22px;
        height: 22px;
    }
}